body{
  background-image: url("image/back1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-size: cover;

}
.grid-container{
  width: 50vh;
  height: 50vh;
  margin: 15% auto;
  position: relative;

  display: grid;
  gap:10px;
  grid-template-columns:1fr 1fr 1fr 1fr;

}
.d{
  background-color: #DBDFFD;
  height: auto;
  width: auto;
  border-radius:5%;
}
