body{
  background-image: url("image/back1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
 background-size: cover;
 margin: 0;
}

p{
  color: white;
}

footer{
  margin:20px auto 0;
  text-align: center;
}

.tile-container{
  width: 50vh;
  height: 50vh;
  margin: 7% auto 50px;
  position: relative;
  display: grid;
  gap:4px;
  grid-template-columns:1fr 1fr 1fr 1fr;

}

.d{
  background-color: #DBDFFD;
  height: auto;
  width: auto;
  border: solid;
  border-width: 2px;
  border-color: #242F9B;
  border-radius:6%;
}

.pressed {
  background-color: #e6221f;
  box-shadow: 2px 2px 2px 2px black;
  opacity: 1;
}

.d:hover{
  cursor: pointer;
}

.unclickable{
  pointer-events: none;
}

.hidden{
  display: none !important;
}

.start{
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 38px;
  border-radius: 4px;
  border-width: 1px;
  border: solid;
  cursor: pointer;
  margin-bottom: 40px;

}

.start:hover{
  color:#333;
  border-color: #888;
  outline: 0;

}
